RewriteEngine On
RewriteBase /
RewriteRule ^shorten$ s/shorten.php [L,QSA]
# RewriteRule ^shorten(.*)$ s/shorten.php?$1 [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ s/index.php?slug=$1 [L,QSA]

# Rewrite "www.domain.com -> domain.com"
<IfModule mod_rewrite.c>
  RewriteCond %{HTTPS} !=on
  RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  RewriteRule ^(.*)$ http://%1/$1 [R=301]
</IfModule>
