body {
  font: 1.2em/1.4em "Myriad Pro", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
  color: #444;
  max-width: 32em;
  margin: 1em auto;
  background-color: #f4f4f4;
}
section {
  display: block;
  margin: 0 0 2em 0;
}
h1 {
  font-size: 1.2em/1.2em;
  font-weight: normal;
  margin: 0.2em 0;
  text-align: center;
}
p {
  margin: 0.2em 0;
  text-align: center;
}
input[type="text"],
input[type="url"],
a {
  font: 1em/1.8em Menlo, Consolas, "Courier New", monospace;
}
input[type="text"],
input[type="url"] {
  color: #444;
  margin-left: 0.5em;
}
a {
  color: #0086B3;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  text-shadow: 1px 1px 1px #aaa;
  -webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
     -moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
      -ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
       -o-transition: color 0.2s ease, border-bottom-color 0.2s ease;
          transition: color 0.2s ease, border-bottom-color 0.2s ease;
}
a:hover,
a:focus {
  color: #00B9F7;
  border-bottom-color: #00B9F7;
}
.orig {
  font-size: smaller;
}
.orig, .orig a {
  color: #999;
  text-shadow: none;
}

.bm section {
  float: left;
  width: 50%;
}

.bm a {
  display: inline-block;
  padding: 0 0.2em;
  border: 1px solid #eee;
  background-color: #ddd;
  margin-left: 0.5em;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px 1px #fff;
}
.orig a:hover,
.orig a:focus,
.bm a, .bm a:hover, .bm a:focus {
  border-bottom-color: transparent;
}

label {
  display: block;
  float: none;
  clear: both;
  margin: 0 0 0.5em 0;
}

input[type="submit"] {
  font-size: 1.4em;
}
